@import url(../../node_modules/normalize.css/normalize.css);
@import url("https://fonts.googleapis.com/css?family=Alegreya");
@keyframes slideshow {
  0% {
    left: 0; }
  10% {
    left: 0; }
  25% {
    left: -100%; }
  35% {
    left: -100%; }
  50% {
    left: -200%; }
  60% {
    left: -200%; }
  75% {
    left: -300%; }
  85% {
    left: -300%; }
  100% {
    left: 0; } }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

.container {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(6rem, 1fr);
  grid-template-rows: repeat(3, min-content) 70vh min-content min-content;
  grid-row-gap: 1.6rem;
  margin-top: 1.6rem; }

.section {
  padding: 2rem 0 2rem 0; }

.input-form {
  display: block;
  padding: 1rem;
  border: none;
  width: 100%;
  font-size: 1.5rem;
  outline: none; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Alegreya', serif; }

ul {
  list-style-type: none; }

a,
a:visited {
  text-decoration: none;
  color: inherit; }

.section-heading {
  font-size: 4rem;
  color: #12367e;
  text-align: center;
  margin-bottom: 3rem; }

.social-nav {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  align-items: center; }
  .social-nav__icon {
    font-size: 1.6rem;
    color: #12367e;
    transition: all .2s; }
    .social-nav__icon:hover {
      color: #34598f;
      transform: rotateZ(360deg); }

.functional-nav {
  grid-column: 6 / 10;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  color: #12367e; }
  .functional-nav__link {
    font-size: 1.3rem;
    display: inline-block;
    width: 100%;
    text-align: center; }
    .functional-nav__link::after {
      content: '';
      display: block;
      width: 0;
      height: .1rem;
      background: #12367e;
      transition: all 0.2s cubic-bezier(0.55, 0, 0.98, 0.54);
      margin: 0 auto; }
    .functional-nav__link:hover::after {
      width: 100%; }
  .functional-nav__icon {
    margin-right: .3rem; }

.search-nav {
  grid-row: 2 / 3;
  grid-column: 8 / 10;
  display: grid;
  grid-template-columns: repeat(10, 10%); }
  .search-nav__input {
    grid-column: 3 / -1;
    grid-row: 1 / 2;
    border: none;
    border-bottom: .1rem solid #12367e;
    padding: .5rem;
    font-size: 1.3rem;
    outline: none; }
  .search-nav__btn {
    grid-column: 10 / -1;
    grid-row: 1 / 2;
    background: transparent;
    border: none;
    cursor: pointer; }
  .search-nav__icon {
    font-size: 1.3rem; }

.main-nav {
  grid-row: 3 / 4;
  grid-column: 2 / 10;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  color: #12367e;
  border-top: .1rem solid #12367e;
  border-bottom: .1rem solid #12367e; }
  .main-nav__item {
    padding: .8rem 0;
    transition: all 0.1s cubic-bezier(0.55, 0, 0.98, 0.54); }
    .main-nav__item:first-child {
      position: relative; }
      .main-nav__item:first-child:hover .dropdown {
        visibility: visible;
        opacity: 1; }
    .main-nav__item:hover {
      background: #12367e;
      color: white; }
  .main-nav__item:hover .main-nav__link::before,
  .main-nav__item:hover .main-nav__link::after {
    width: 100%; }
  .main-nav__link {
    display: grid;
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase; }
    .main-nav__link::before, .main-nav__link::after {
      content: '';
      display: inline-block;
      width: 0;
      height: .1rem;
      background: white;
      transition: all 0.2s cubic-bezier(0.55, 0, 0.98, 0.54); }
    .main-nav__link::after {
      justify-self: end; }

.dropdown {
  position: absolute;
  top: 100%;
  padding: 1.6rem;
  background-color: #fffeee;
  color: #12367e;
  width: 70rem;
  display: grid;
  grid-template-columns: repeat(7, 10rem);
  box-sizing: content-box;
  visibility: hidden;
  opacity: 0;
  transition: all .5s;
  z-index: 100; }
  .dropdown__list--first {
    grid-column: 1 / 3; }
  .dropdown__list--second {
    grid-column: 3 / 5; }
  .dropdown__item {
    margin-bottom: 1rem; }
  .dropdown__img {
    grid-column: 5 / -1;
    width: 100%; }
  .dropdown__link {
    text-transform: uppercase;
    font-size: 1.3rem; }
    .dropdown__link:hover {
      color: #34598f;
      font-weight: bold; }

.banner {
  position: relative;
  grid-row: 4 / 5;
  grid-column: 2 / 10; }
  .banner__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 50; }
  .banner__heading {
    font-size: 10rem;
    color: #12367e;
    margin: 0; }
  .banner__btn {
    height: 5rem;
    width: 16rem;
    font-size: 1.3rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background: linear-gradient(to top, #12367e, #34598f);
    color: white;
    border: none;
    text-transform: uppercase;
    outline: none; }
    .banner__btn:hover .banner__btn-text--2 {
      top: 50%;
      transform: translateY(-50%); }
    .banner__btn:hover .banner__btn-text--1 {
      top: -150%; }
  .banner__btn-text {
    position: absolute;
    left: 0;
    width: 100%;
    transition: all .2s; }
    .banner__btn-text--1 {
      top: 50%;
      transform: translateY(-50%); }
    .banner__btn-text--2 {
      top: 150%; }

.slideshow {
  height: 100%;
  position: relative;
  overflow: hidden; }
  .slideshow__wrapper {
    width: 400%;
    height: 100%;
    display: flex;
    position: relative;
    animation: slideshow 10s infinite; }
  .slideshow__img {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .slideshow__btn {
    position: absolute;
    z-index: 10;
    bottom: 2rem;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border: .2rem solid #d38800;
    outline: none; }
    .slideshow__btn--1 {
      left: 47%; }
      .slideshow__btn--1:focus ~ .slideshow__wrapper {
        left: 0; }
    .slideshow__btn--2 {
      left: 49%; }
      .slideshow__btn--2:focus ~ .slideshow__wrapper {
        left: -100%; }
    .slideshow__btn--3 {
      left: 51%; }
      .slideshow__btn--3:focus ~ .slideshow__wrapper {
        left: -200%; }
    .slideshow__btn--4 {
      left: 53%; }
      .slideshow__btn--4:focus ~ .slideshow__wrapper {
        left: -300%; }
    .slideshow__btn:focus {
      background: #12367e; }
    .slideshow__btn:focus ~ .slideshow__wrapper {
      animation: none; }

.bestsellings {
  grid-row: 6 / 7;
  grid-column: 2 / 10; }
  .bestsellings__heading {
    grid-column: 1 / -1;
    grid-row: 1 / 2; }
  .bestsellings__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 6.4rem; }

.day-offer {
  grid-row: 5 / 6;
  grid-column: 2 / 10;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, min-content);
  grid-gap: 1.6rem;
  justify-items: center;
  align-items: end;
  color: #12367e; }
  .day-offer__heading {
    grid-row: 1 / 2;
    grid-column: 3 / -1;
    font-size: 6rem; }
  .day-offer__paragraph {
    grid-row: 2 / 3;
    grid-column: 3 / -1;
    font-size: 3rem; }
  .day-offer__btn {
    grid-row: 3 / 4;
    grid-column: 3 / -1; }
  .day-offer__img {
    width: 100%; }
    .day-offer__img--1 {
      grid-row: 1 / -1;
      grid-column: 1 / span 2; }
    .day-offer__img--2 {
      grid-row: 4 / 5;
      grid-column: 3 / -1;
      align-self: end; }

.gallery {
  grid-column: 1 / -1;
  grid-row: 7 / 8;
  display: grid;
  grid-template-columns: repeat(8, minmax(1rem, 1fr));
  grid-template-rows: repeat(4, 10vw);
  grid-gap: 1.6rem;
  background: #34598f; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .6;
    transition: opacity .3s; }
    .gallery__img:hover {
      opacity: 1; }
    .gallery__img--1 {
      grid-column: 1 / 3;
      grid-row: 1 / 2; }
    .gallery__img--2 {
      grid-column: 3 / 6;
      grid-row: 1 / 3; }
    .gallery__img--3 {
      grid-column: 6 / 7;
      grid-row: 1 / 2; }
    .gallery__img--4 {
      grid-column: 7 / -1;
      grid-row: 1 / 3; }
    .gallery__img--5 {
      grid-row: 2 / 4;
      grid-column: 1 / 3; }
    .gallery__img--6 {
      grid-column: 3 / 5;
      grid-row: 3 / 4; }
    .gallery__img--7 {
      grid-column: 6 / 7;
      grid-row: 2 / 4; }
    .gallery__img--8 {
      grid-column: 5 / 6;
      grid-row: 3 / 5; }
    .gallery__img--9 {
      grid-column: 1 / 3;
      grid-row: 4 / 5; }
    .gallery__img--10 {
      grid-column: 3 / 5;
      grid-row: 4 / 5; }
    .gallery__img--11 {
      grid-column: 6 / 7;
      grid-row: 4 / 5; }
    .gallery__img--12 {
      grid-column: 7 / -1;
      grid-row: 3 / 5; }

.contact {
  grid-row: 8 / 9;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #12367e;
  grid-column-gap: 2.5rem;
  align-items: center; }
  .contact__heading {
    color: white;
    justify-self: end;
    font-size: 1.6rem; }
  .contact__form {
    display: flex; }
  .contact__email-input {
    padding: 1rem;
    font-size: 1.4rem;
    border-radius: 2rem 0 0 2rem;
    border: none; }
  .contact__submit-btn {
    padding: 0 .7rem 0 .7rem;
    border-radius: 0 2rem 2rem 0; }

.footer {
  grid-row: 9 / 10;
  grid-column: 1 / -1; }
  .footer__copyright {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: #12367e; }

.btn {
  font-size: 1.6rem;
  cursor: pointer;
  background: linear-gradient(to top, #12367e, #34598f);
  color: white;
  border: none;
  outline: none;
  transition: all .2s; }
  .btn--block {
    display: block;
    width: 100%;
    padding: 1.5rem; }
  .btn--squared {
    height: 5rem;
    width: 16rem; }
  .btn--uppercase {
    text-transform: uppercase; }
  .btn--oranged {
    background: #d38800; }
  .btn:hover {
    background: linear-gradient(to bottom, #12367e, #34598f); }

.modal {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #efefef;
  padding: 2rem;
  width: 50rem;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.3);
  display: none; }
  .modal__input {
    margin-bottom: 1rem; }
  .modal__btn {
    width: 15rem;
    height: 3.5rem; }
  .modal__close {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    font-size: 1.6rem;
    color: #12367e;
    cursor: pointer; }
    .modal__close:hover {
      color: #34598f; }

.btn-groups {
  display: flex; }
  .btn-groups__btn {
    flex-basis: 50%;
    padding: 1rem 0;
    border: .1rem solid white;
    text-align: center; }

.signup-form__groups {
  display: flex; }
  .signup-form__groups input {
    flex-basis: 50%; }
    .signup-form__groups input:first-child {
      margin-right: .3rem; }

.login-form {
  display: none; }

.title-form {
  font-size: 1.6rem;
  color: #12367e;
  text-transform: uppercase;
  margin: 2rem 0 1rem 0; }

#toggleForm {
  display: none; }
  #toggleForm:checked ~ .login-form {
    display: block; }
  #toggleForm:checked ~ .signup-form {
    display: none; }
  #toggleForm:checked ~ .btn-groups .btn-groups__login,
  #toggleForm:not(:checked) ~ .btn-groups .btn-groups__signup {
    pointer-events: none;
    background: #34598f;
    color: #999; }
  #toggleForm:checked ~ .btn-groups .btn-groups__signup {
    pointer-events: initial; }

#toggleModalBox {
  display: none; }
  #toggleModalBox:checked ~ .modal {
    display: block; }
  #toggleModalBox:checked ~ .container {
    pointer-events: none;
    opacity: .6; }

.bestselling-card {
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.3);
  background: #efefef; }
  .bestselling-card__img {
    width: 100%; }
  .bestselling-card__title {
    width: 80%;
    margin: 0 auto;
    background: #fffeee;
    color: #34598f;
    text-align: center;
    font-size: 2rem;
    padding: .5rem 0;
    transform: translateY(-50%); }
  .bestselling-card__price {
    color: #12367e;
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
    text-align: center; }
