.day-offer {
    grid-row: 5 / 6;
    grid-column: 2 / 10;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, min-content); 
    grid-gap: 1.6rem;
    justify-items: center;
    align-items: end;
    color: #12367e;

    &__heading {
        grid-row: 1 / 2;
        grid-column: 3 / -1;
        font-size: 6rem;
    }

    &__paragraph {
        grid-row: 2 / 3;
        grid-column: 3 / -1;
        font-size: 3rem;
    }

    &__btn {
        grid-row: 3 / 4;
        grid-column: 3 / -1;        
    } 

    &__img {
        width: 100%;

        &--1 {
            grid-row: 1 / -1; 
            grid-column: 1 / span 2;
        }

        &--2 {
            grid-row: 4 / 5;
            grid-column: 3 / -1;
            align-self: end;
        }
    }
}