.gallery {
    grid-column: 1 / -1;
    grid-row: 7 / 8;
    display: grid;
    grid-template-columns: repeat(8, minmax(1rem, 1fr)); 
    grid-template-rows: repeat(4, 10vw);
    grid-gap: 1.6rem;
    background: #34598f;

    @media only screen and (max-width: $third-bp) {
        grid-gap: .8rem;
    } 
     
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .6;
        transition: opacity .3s; 

        &:hover {
            opacity: 1;
        }

        &--1 {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
        }

        &--2 {
            grid-column: 3 / 6; 
            grid-row: 1 / 3; 
        }

        &--3 {
            grid-column: 6 / 7; 
            grid-row: 1 / 2;
        }

        &--4 {
            grid-column: 7 / -1; 
            grid-row: 1 / 3; 
        }

        &--5 { 
            grid-row: 2 / 4; 
            grid-column: 1 / 3; 
        }

        &--6 {
            grid-column: 3 / 5; 
            grid-row: 3 / 4; 
        }

        &--7 {
            grid-column: 6 / 7; 
            grid-row: 2 / 4; 
        }

        &--8 {
            grid-column: 5 / 6; 
            grid-row: 3 / 5; 
        }

        &--9 {
            grid-column: 1 / 3; 
            grid-row: 4 / 5; 
        }

        &--10 {
            grid-column: 3 / 5; 
            grid-row: 4 / 5; 
        }

        &--11 {
            grid-column: 6 / 7; 
            grid-row: 4 / 5; 
        }

        &--12 {
            grid-column: 7 / -1; 
            grid-row: 3 / 5; 
        }
    }
}