@keyframes slideshow {
    0% {
        left: 0;
    }

    10% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    35% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    60% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    85% {
        left: -300%;
    }

    100% {
        left: 0;
    }
}